/* css reset*/
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
/* css reset end*/

/*general starts*/
  body{
    font-family: 'Josefin Sans', sans-serif;
  }

  header, main{
    padding: 1rem;
  }

  .section-title {
    text-align: center;
    margin: 2rem auto;
    font-family: 'Rancho', cursive;
    letter-spacing: 1px;
    font-size: 2rem;
    font-weight: lighter;
  }

  .section-title span {
    display: block;
    color:#E76F51;
    margin-top: 0.5rem;
  }

  .btn{
    background-color: #2A908F;
    color: white;
    padding: 0.5rem 1.5rem;
    border:none;
    border-radius: 10px;
  }
  img{
    width: 100%; 
  }
  /* font-family: 'Josefin Sans', sans-serif;
font-family: 'Rancho', cursive; */

/*general ends*/

/*header starts*/
  header nav ul li{
    display: none;
  }

  #logo{
    display: inline;
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-family: 'Rancho', cursive;
  }

  #burger-menu{
    display: inline;
    float: right;
    font-size: 1.6rem;
  }
/*header ends*/


/*hero section starts*/
  .hero-text h1{
    font-weight: lighter;
    font-size: 3.5rem;
    color: rgb(50,50,50);
    margin: 3rem 0;
  }
  
  .hero-vegan{
    color: #2A908F;
  }

  .hero-buttons{
    display: flex;
    justify-content: space-around;
  }

  .hero-buttons :first-child {
    background-color: #E76F51;
    color:white;
    padding: 0.5rem 1.5rem;
    box-shadow: 5px 5px 15px #E76F51ec;
    border-radius: 5px;
    border:none;
    margin-right: 15%;
  }

  .hero-buttons :last-child{
    border:none;
    background-color: white;
    font-size: 1rem;
  }

  .hero-text img {
    margin: 3rem 0;
  }

/*hero section ends*/


/*especialidades starts*/
  .special-category{
    color:#E76F51;
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1.5rem;
    position:relative;
  }

  .special-category:after{
    content: '';
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5rem;
    border-bottom: 1px solid black;
  }

  .special-desc{
    font-size: 1.1rem;
    font-weight: lighter;
    padding-bottom: 1rem;
  }

  .special-title {
    font-size: 2.6rem;
    display: block;
    position: relative;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }

  .special-title:after{
    content: '';
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5rem;
    border-bottom: 1px solid black;
  }

  .price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
  }

  .special-img{
    box-shadow: 5px 5px 15px rgba(284,284,284, 0.8);
  }
/*especialidades ends*/

/*menu starts*/
.menu-title{
  font-size: 2.5rem;
  font-weight: lighter;
}
.menu-item{
  display: flex;
  margin: 2rem 0;
  position:relative;
  align-items: center;
  padding: 0 2rem 2rem 2rem;
}

.menu-item:after{
  content: '';
  position:absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5rem;
  border-bottom: 1px dashed black;
}

.menu-item:last-child::after{
  border:none;
}

.menu-item img{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-right: 1rem;
}

.menu-item section h3{
  margin-bottom: 1rem;
}

.menu-item section h3 span{
  margin-left: 3rem;
  font-weight: lighter;
  color:#333333;
}

.menu-item p {
  color: #333333
}
/*menu ends*/





/*header starts*/
/*header ends*/


@media screen and (min-width: 725px) {
  
  body{
    max-width: 960px;
    margin: 0 auto;
  }

  main{
    padding: 0;
  }

  header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header nav ul li{
    display: inline;
    font-weight: bold;
    font-size: 1.2rem;
  }

  #burger-menu{
    display:none;
  }

  .hero-container {
    display: flex;
    padding: 1rem;
  }

  .hero-text{
    padding: 1rem;
  }

  .hero-saludable{
    display: block;
  }

  .hero-buttons {
    justify-content: flex-start;
  }
  #hero-image{
    width: 375px;
  }

  .especialidades {
    padding:2rem;
    background-color: #efefef;
  }

  .special-item{
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-bottom: 2rem;
  }

  .special-img{
    width: 375px;
  }

  .price{
    flex-direction: column;
    align-items: flex-start;
  }

  .price span{
    margin-bottom: 1rem;
  }

  .special-item:last-child .special-img {
    order:1;
  }

  .special-item:last-child .special-info {
    order:2;
  }

  .menu-container{
    display: flex;
    padding: 2rem;
  }

  .menu-title{
    text-align: center;
  }

  .menu-item:after{
    width: 75%;
    margin: 0 auto;
  }








}